/*.idea/
/*.setting/
*.iml
*.settings
logs/
META-INF
*/.metadata/
*/.classpath
*/.project
.gitignore.bak
*.classpath
*.project
security/.idea/
security/target/
target/
basename.exe.stackdump/
sh.exe.stackdump/
