<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="prevention.control.system.module.accident.dao.AccidentMapper">
    <select id="selectCategoryName"  resultType="prevention.control.system.module.accident.entity.AccidentCategory">
        SELECT * FROM t_accident_category
    </select>

    <select id="selectAllAccident"  resultType="prevention.control.system.module.accident.entity.Accident">
        SELECT * FROM t_accident
    </select>

    <select id="selectAccidentByName"  resultType="prevention.control.system.module.accident.entity.Accident">
        SELECT * FROM t_accident where accident_name LIKE "%"#{accidentName}"%"
    </select>

    <insert id="insertAccident"  useGeneratedKeys="true" keyProperty="accident.accidentId">
     INSERT INTO t_accident(accident_name,occurrence_place,occurrence_time,is_analysis,user_id,accident_category_id) VALUE (#{accident.accidentName},#{accident.occurrencePlace},#{accident.occurrenceTime},#{accident.isAnalysis},#{accident.userId},#{accident.accidentCategoryId})
    </insert>
    <insert id="insertAccidentInvestigationReport">
        INSERT INTO t_accident_investigation_report(accident_id,content) VALUE (#{accidentId},#{reportContent})
    </insert>
    <insert id="insertAnalysisOfTheCauseOfBehavior">
        INSERT INTO t_analysis_of_the_cause_of_behavior(accident_id,content) VALUE (#{accidentId},#{behaviorContent})
    </insert>

    <insert id="insertMacroscopicLawOfAccident">
        INSERT INTO t_macroscopic_law_of_accident(accident_id,content) VALUE (#{accidentId},#{macroscopicContent})
    </insert>
    <insert id="insertPreventionAndControlMeasures">
        INSERT INTO t_prevention_and_control_measures(accident_id,content) VALUE (#{accidentId},#{measuresContent})
    </insert>
    <insert id="insertStatisticsOfReasons">
        INSERT INTO t_statistics_of_reasons(accident_id,content) VALUE (#{accidentId},#{reasonsContent})
    </insert>

</mapper>